
body {
    background: #222;
    color: #B5B3FF;
}

body, textarea {
    font-size: 25px;
}

a:link, a:visited { color: #B080E6; text-decoration: none }
a:active, a:hover { color: #B080E6; text-decoration: underline; }

textarea, .copy {
    font-family: monospace;
    color: black;
}

#annotation table {
    border-collapse: collapse;
    margin-right: 1em;
}

#annotation td {
    border: solid 1px #444;
    width: 1em;
    text-align: left;
    font-size: 20px;
    padding: 2px;
    line-height: 100%;
    text-shadow: 0px 0px 10px #730 ;
    white-space: nowrap;
    font-family: monospace;
}

#output {
    text-align: center;
    line-height: 150px;
    font-size: 60px;
    width: 100%;
}

#output-box {
    margin-bottom: 10px;
    overflow: auto;
}

#input {
    width: 100%;
}

#input textarea {
    width: 100%;
    border: none;
    background: #000;
    color: #B5B3FF;
    text-align: center;
}

#about-box {
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
}

#about {
    position: relative;
}

.hbox {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-align: baseline;
    -moz-box-align: baseline;
    box-align: baseline;
}
.vbox {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}
.strut {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
}
.spring {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

